section.about {
    background-image: url('../Images/background.jpg');
    background-size: 100%;
    min-height: 78vh;
    background-color: black;
}
.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/background.jpg');
    background-size: 100%;
    min-height: 78vh;
    background-color: black;
}

.aboutInfo {
    align-items: center;
    
}

.aboutPic img{
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 57vh;
    box-shadow: 2px 2px 7px;
    color: white;
}
.aboutText {
    float: right;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 7px;
    font-size: 1.4em; 
    background: rgba(0, 0, 0, .85);
    color: white;
}




