.home img {
    width: 100%;
    /* background-size: 100%;
   
    background-color: black; */
}
/* @media screen and (max-width: 1023px) {
    section.home  {
        background-size: 200%;
    }
} */
